<%- contentFor('body') %>
<h1 class="text-xl"><%= title %></h1>
<form
  method="post"
  class="p-6 m-4 space-y-4"
>
  <div>
    <input
      type="text"
      id="name"
      name="name"
      placeholder="Category name here, 3-100 characters"
      class="p-2 m-2 border rounded w-full bg-blue-grey-500 dark:bg-blue-grey-900"
      value="<%= typeof category.name != 'undefined' ? category.name : '' %>"
    />

  </div>
  <div>
    <textarea
      id="description"
      name="description"
      placeholder="Category description here, 3-1000 characters"
      class="p-2 m-2 border rounded w-full h-32 bg-blue-grey-500 dark:bg-blue-grey-900"
    ><%= typeof category.description != 'undefined' ? category.description : '' %></textarea>
  </div>
  <div class="flex justify-center w-full">
    <button
      type="submit"
      class="text-xl font-bold px-12 py-4 m-2 bg-yellow-vivid-500 text-blue-grey-900 rounded-lg border-2 hover:bg-yellow-vivid-600 shadow"
    >
      Done
    </button>
  </div>
</form>
<% if (errors) { %>
    <% errors.forEach(function(error) { %>
        <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded error-message my-4" role="alert">
            <p class="font-bold">Error</p>
            <p><%= error.msg %></p>
        </div>
    <% }); %>
    <script> // remove error messages
        document.addEventListener("DOMContentLoaded", function() {
          const errorMessages = document.querySelectorAll('.error-message');

          errorMessages.forEach(function(message) {
            setTimeout(function() {
              message.style.display = 'none';
            }, 5000);
          });
        });
      </script>
  <% } %>
