<%- contentFor('body') %>
<div class="category mt-10">
  <p class="text-2xl"><%= category.name %></p>
  <p class="font-light mt-4"><%= category.description %></p>
  <ul class="item-list mt-6">
    <% items.forEach(function(item) { %>
    <li class="item mt-4">
      <a class="text-lg" href=<%=item.url %>><%= item.name %></a>
    </li>
    <% });%>
    <form action="<%= category.url %>/delete" method="POST">
      <button type="submit" class="px-4 py-2 mt-4 hover:bg-red-500 text-xl font-bold m-2 rounded-lg border-2 shadow">
        Delete Category
      </button>
    </form>
</div>
