<%- contentFor('body') %>
<div class="category mt-10">
  <p class="text-2xl"><%= category.name %></p>
  <p class="font-light mt-4"><%= category.description %></p>
  <ul class="item-list mt-6">
    <% items.forEach(function(item) { %>
    <li class="item mt-4">
      <a class="text-lg" href=<%=item.url %>><%= item.name %></a>
    </li>
    <% });%>
    <div class="flex mt-4 space-x-4">
      <form action="<%= category.url %>/update" method="GET">
        <button type="submit"
          class="text-xl font-bold px-4 py-2 bg-yellow-vivid-500 text-blue-grey-900 rounded-lg border-2 hover:bg-yellow-vivid-600 shadow">
          Edit Category
        </button>
      </form>
      <form action="<%= category.url %>/delete" method="POST">
        <button type="submit" class="px-4 py-2 hover:bg-red-500 text-xl font-bold rounded-lg border-2 shadow">
          Delete Category
        </button>
      </form>
  </div>
</div>
